
/*
browser-sync start --server --files "**/*.css, **/*.html"
browser-sync start --server --files "**"
*/

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 16px/24px helvetica,arial,sans-serif;
    color: #333;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: table;
    width: 100%;
    padding: 20px 0;
}

.row {
    display: table-row;
    width: 100%;
}

.grid {
    display: table-cell;
    border: 1px solid #ddd;
    height: 30px;
    border-radius: 2px;
}
.grid:hover {
    background: #eee;
}

.row:nth-child(20) .grid:nth-child(20) {
    /*border-radius: 100%;
    background: #ddd;*/
}

.snake-body {
    background: #ddd;
}

.food {
    background: #666;
}

